@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #f5f5f5;
  --inputbg: #f4f4f4;
  --primary: #165cd4;
  --secondary: rgb(239, 75, 239);
  --red: rgb(235, 62, 62);
  --green: #1b1b;
  --gray: #f5f5f5;
  --font-primary: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

.grid-cols-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 80vh;
}
.dashboard {
  width: 100%;
}

.sidebar {
  position: fixed;
  background-color: rebeccapurple;
  width: 300px;
  top: 0;
  left: 0;
}
.dashboard {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
}
.col {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid gainsboro;
  background-color: #ffff;
  min-height: 98vh;
  box-shadow: 2px 2px 12px #f1ebebe2;
  width: 20vw;
  position: fixed;
  left: 1vh;
  border-radius: 12px;
  top: 1vh;
}

.sidebar h2 {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: 24px;
  vertical-align: baseline;
}
.container {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--gray);
}

.input-category {
  width: 100%;
  border-radius: 24px;
  padding: 12px;
  border: none;
  background-color: var(--gray);
  color: #000;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-category input :focus,
.input-category input:focus-visible,
.input-category input:focus-within {
  outline: none;
  border: none;
}

.input-category input {
  background-color: transparent;
  border: none;
  width: 80%;
  padding: 6px 12px;
}
.input-category .add-btn {
  background-color: var(--primary);
  border: none;
  color: var(--gray);
  border-radius: 100%;
  width: 42px;
  height: 42px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-category .add-btn:hover {
  transition: 1s cubic-bezier(1, 0, 0, 1);
  background-color: var(--secondary);
  transform: scale(1.2);
}

.w-full {
  width: 100%;
}

.category-container .category {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.category-container .progress {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  justify-content: center;
  align-items: center;
}
.count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.category-container.active .progress-bar {
  display: flex;
  width: 100%;
  background-color: #dbebce;
  border-radius: 4px;
}
.category-container .progress-bar {
  background-color: #cddfff;
  border-radius: 4px;
}
.line {
  background-color: var(--green);
  height: 6px;
  border-radius: 4px;
}
.category-container {
  width: 100%;
  background-color: var(--gray);
  margin: 12px auto;

  padding: 8px 12px;
  border-radius: 12px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s ease; /* Adjust duration and easing function */
}

.category-container:hover,
.category-container.active,
.category-container.category-container.active i {
  transition: 1s ease-in-out;
  color: #fff;
  background-color: var(--primary);
}

.category-container button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.category-container.fadeOut,
.todo-card.remove {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  opacity: 0; /* This creates the fade-out effect */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.not-found {
  width: 100%;
}
.not-found h2 {
  font-size: 14px;
  color: gray;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-header h2 {
  font-size: 42px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header .avatar {
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.todo-heading {
  margin: 40px auto;
  font-weight: bold;
  font-size: 20px;
}

.todo-card {
  cursor: grab;
  width: 100%;
  background-color: #fff;
  margin: 10px auto;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.todo-card:hover {
  transform: scale(1.1);
}
.todo-card .cut {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card h2 {
  margin-left: 8px;
  font-weight: 500;
  font-size: 18px;
  color: gray;
}

.shape {
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(235, 62, 62);
  border-radius: 100%;
  color: rgb(235, 62, 62);
}

.todo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  min-height: 80vh;
}

.add-task {
  width: 62px;
  border-radius: 100%;
  border: none;
  background-color: var(--primary);
  color: var(--inputbg);
  font-size: 24px;
  cursor: pointer;
  height: 62px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.add-task:hover {
  transform: scale(1.2);
  background-color: var(--secondary);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Translucent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.modal-content {
  width: 45vw;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.task-form-container {
  background-color: #fff;
}

.input-container {
  width: 100%;
  padding: 6px;
  margin: 12px auto;
}

.btn {
  border: none;
  padding: 12px 24px;
  color: #fff;
  border-radius: 6px;
  background-color: var(--primary);
}

label {
  margin-right: 12px;
}

.task-form-container input {
  background-color: var(--inputbg);
  border: none;
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
}

.shape {
  cursor: pointer;
}
.todo-card .shape[data-status='Completed'] {
  border: 1px solid var(--green);
  color: var(--green);
}

.todo-container[data-status='Completed'] h2 {
  text-decoration: line-through;
}

.todo-card .shape[data-status='Incomplete'] {
  color: var(--red);
  border: 1px solid var(--red);
}

.todo-card .shape[data-status='Pending'] {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.not-found-box {
  width: 120px;
  object-fit: cover;
  height: 120px;
  border-radius: 100%;
}

.not-found-container h2 {
  display: flex;
  font-size: 14px;
}

.notice {
  font-size: 14px;
  color: rgb(66, 64, 64);
  margin: 12px auto;
}

.tag-container {
  cursor: grab;
  padding: 6px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.tag-container .tag {
  padding: 6px;
  border-radius: 6px;
  font-size: 13px;
  color: var(--primary);
  background-color: #c6d5ee;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 2px 2px 12px #efebeb99;
}

.tag-container .tag:hover {
  background-color: var(--primary);
  color: white;
}

.show-on-small {
  display: none;
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: flex !important;
    flex-direction: column !important;
  }
  .mobile-tab {
    display: flex;
    justify-content: space-between;
    grid-area: 12px;
  }
  .show-on-small .active-btn {
    background-color: var(--primary) !important;
    color: var(--inputbg);
  }
  .show-on-small button {
    margin: 12px auto;
    background-color: #c6d5ee;
    color: black;
    font-size: 15px;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  .todo-container {
    min-height: auto;
    padding-bottom: 10vh;
  }
  .hide-on-small {
    display: none !important;
  }
  .dashboard {
    display: flex !important;
    flex-direction: column;
  }
  .add-task {
    right: 10px !important;
    bottom: 10px !important;
  }
  .sidebar {
    position: relative;
    width: 100%;
    min-height: auto;
    left: 0;
  }
  .modal-content {
    width: 85vw !important;
  }
  .category-box {
    display: flex;
    overflow-x: auto;
    gap: 12px;
  }
  .category-box .category-container {
    margin: 5vh 0;
    flex: 0 0 75%;
  }
  .category-box::-webkit-scrollbar {
    display: none;
  }

  .grid-cols-3 {
    display: flex;
    flex-direction: column;
  }
}
